/* font */
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSSaemmul';
}

.grid{
    display: grid;
    grid-template-columns: 350px 150px;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board{
    border: solid 2px;
}

.next{
    border: solid 2px;
}

.play-button{
    font-size: 15px;
    padding: 15px 10px;
    cursor: pointer;
}